extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Emmanuel Gatica

        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Been studying Software engineering with a focus on Full Stack Development since 2012. 
            | I finished my Full Stack Developer Tech Degree from Treehouse and am now working on there UI degree.
            | I live in Provo, Utah and on my spare time when I'm not working my job at Chrysalis I am rock-climbing or snowboarding near the area.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li Node
          li Git
          li Javascript
          li Fetch API 
          li JSON
        h6 Contact Info

        //- Add your own contact info
        ul
          li 435-215-5500
          li egatica51@email.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/manny-gatica-b089074a/') LinkedIn
        a.button.expanded(href='https://github.com/mannig1224') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  